<!-- Деякі загальні домовленості щоб усе це мало хоч трохи чистий вигляд.

1. Класи називаємо у кебаб стилі типу header-title, card-wrapper, star-wars, тощо...
2. Вказуючи ID для якірних посилань називаємо їх ідентично до своєї секції.
3. У JS оголошуємо функції Function Declaration, уникаємо стрілок і Expression (але якщо вже дуже хочеться - то що вже)) )

function sum(a, b) {
      return a + b;
    }
                                                    
4. Також у JS залишаємо хоча б мінімальні коментарі
5. Класи section, container, задають мінімальний базовий скелет сторінки
якщо захочеться до них щось додати подумай три рази
6. Щоб глянути яку назву яка іконка має у спрайті залишу скрін у папці img (sprite.jpg) -->

<section class="about-me section" id="about-me">
  <div class="container">
    <h2 class="about-title">About <span class="highlight">Me</span></h2>

    <div class="about-image-text">
      <img src="img/about-me/about-me.png" alt="man" class="about-photo">
      <div class="about-text">
        <div class="about-decor">
          <img src="img/about-me/decor-bg-2.png"  alt="Decor background">
        </div>
        <h3 class="about-subtitle">BIO</h3>
        <p class="about-paragraph">
          I'm Lloyd Jefferson, a talented 
          programmer specializing
          in software development. My expertise 
          spans various programming languages 
          and technologies, and I am dedicated 
          to continually enhancing my skills. I 
          thrive on seeking unconventional and 
          creative solutions to problems, 
          leveraging a high level of analytical 
          skills to effectively tackle even the most 
          challenging tasks.
        </p>
        <p class="about-paragraph">
          Adaptable to both independent and
          team-oriented work, I collaborate 
          seamlessly with colleagues, exchanging 
          ideas and finding optimal solutions. My
          professional maturity enables me to 
          navigate challenges and stressful 
          situations with a calm demeanor, 
          maintaining a consistently high quality 
          of work. Committed to self-
          improvement, I actively engage in 
          studying new technologies and 
          practices to stay current with the 
          latest innovations in the field.
        </p>
      </div>
    </div>

    <!-- Декор -->
    <!-- <div class="about-decor">
      <img src="img/about-me/decor-bg-2.png"  alt="Decor background">
    </div> -->

    <div class="columns">
      <div class="about-column">
        <h3 class="about-subtitle">EDUCATION</h3>
        <ul class="about-list">
          <li>2018 – 2019 / Frontend Development Diploma, GoIT IT School, New York</li>
          <li>2019 – 2020 / Advanced Web Development Certificate, GoIT IT School, New York</li>
          <li>2020 – 2022 / Advanced Blender Animation Techniques, Udemy</li>
        </ul>
      </div>

      <div class="about-column">
        <h3 class="about-subtitle">ROLE</h3>
        <ul class="about-list">
          <li>Frontend development</li>
          <li>HeadlessCMS, Wordpress</li>
          <li>Blender (enjoy)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
