<!-- Деякі загальні домовленості щоб усе це мало хоч трохи чистий вигляд.

1. Класи називаємо у кебаб стилі типу header-title, card-wrapper, star-wars, тощо...
2. Вказуючи ID для якірних посилань називаємо їх ідентично до своєї секції.
3. У JS оголошуємо функції Function Declaration, уникаємо стрілок і Expression (але якщо вже дуже хочеться - то що вже)) )

function sum(a, b) {
      return a + b;
    }
                                                    
4. Також у JS залишаємо хоча б мінімальні коментарі
5. Класи section, container, задають мінімальний базовий скелет сторінки
якщо захочеться до них щось додати подумай три рази
6. Щоб глянути яку назву яка іконка має у спрайті залишу скрін у папці img (sprite.jpg) -->

<section class="section">
  <div class="container benefits-container">
    <h2 class="benefits-title">
      <span class="benefits-title-el">Benefits</span> of working with me
    </h2>
    <div>
      <img
        class="benefits-img"
        src="../img/decor-3.png"
        alt="decor-3"
        width="526"
        height="408"
      />
    </div>
    <ul class="benefits-list">
      <li class="benefits-item">
        <svg class="benefits-icon" width="48" height="48">
          <use href="../img/sprite.svg#icon-expertise"></use>
        </svg>
        <h3 class="benefits-item-title">Expertise</h3>
        <p class="benefits-item-text">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <li class="benefits-item">
        <svg class="benefits-icon" width="48" height="48">
          <use href="../img/sprite.svg#icon-communications"></use>
        </svg>
        <h3 class="benefits-item-title">Communication</h3>
        <p class="benefits-item-text">
          Understanding your needs and wants is my priority and I am always
          available for discussions and open to corrections.
        </p>
      </li>
      <li class="benefits-item">
        <svg class="benefits-icon" width="48" height="48">
          <use href="../img/sprite.svg#icon-art"></use>
        </svg>
        <h3 class="benefits-item-title">Art</h3>
        <p class="benefits-item-text">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="benefits-item">
        <svg class="benefits-icon" width="48" height="48">
          <use href="../img/sprite.svg#icon-urgent-execution"></use>
        </svg>
        <h3 class="benefits-item-title">Urgent execution</h3>
        <p class="benefits-item-text">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
  </div>
</section>
