<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrap-desktop">
      <h2 class="footer-title">
        Lloyd<span class="footer-title-el">Jefferson.</span>
      </h2>
      <div class="footer-soc-wrap">
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a href="https://www.instagram.com/goitclub/">Instagram</a>
          </li>
          <li class="footer-soc-item">
            <a href=" https://www.facebook.com/goITclub/">Facebook</a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.linkedin.com/school/goit-start-your-career-in-it"
              >Linkedin</a
            >
          </li>
          <li class="footer-soc-item">
            <a href="https://github.com/Marakasss/gitpub-team-project"
              >GitHub</a
            >
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-text">© Copyright 2024. Made by LloydJefferson</p>
  </div>
</footer>
