<section class="hero section">
  <div class="container">
    <div class="hero--wrapper">
      <h1 class="hero--title">
        Hello, I am
        <span class="hero--title-sub">Fullstack developer</span>
      </h1>
      <img
        src="/img/hero/hero_desk.webp"
        srcset="/img/hero/hero_desk.webp 1x, /img/hero/hero_desk@2x.webp 2x"
        alt="Lloyd Jefferson"
        width="592"
        height="444"
      />
    </div>
    <div class="hero--btn">
      <svg class="hero--icon" width="30" height="16">
        <use href="img/sprite.svg#icon-green-arrow"></use>
      </svg>
      <a href="#work-together" class="hero--link">Order the project</a>
    </div>
  </div>
</section>
