<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mobile Menu</title>
  <link rel="stylesheet" href="/src/css/base.css" />
  <link rel="stylesheet" href="/src/css/menu.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="menu">
    <div class="menu-inner">
      <div class="menu-top container">
        <a href="./index.html" class="logo">LLOYD<span>JEFFERSON.</span></a>
        <button class="close-btn" aria-label="Close menu">
          <svg class="icon-close" width="32" height="32">
            <use href="img/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>

      <ul class="menu-list">
        <li><a href="#about-me">About me</a></li>
        <li><a href="#my-projects">Projects</a></li>
        <li><a href="#work-together">Contacts</a></li>
      </ul>

      <button class="order-btn">ORDER THE PROJECT</button>
    </div>
  </nav>

</body>
</html>
