<!-- Деякі загальні домовленості щоб усе це мало хоч трохи чистий вигляд.

1. Класи називаємо у кебаб стилі типу header-title, card-wrapper, star-wars, тощо...
2. Вказуючи ID для якірних посилань називаємо їх ідентично до своєї секції.
3. У JS оголошуємо функції Function Declaration, уникаємо стрілок і Expression (але якщо вже дуже хочеться - то що вже)) )

function sum(a, b) {
      return a + b;
    }
                                                    
4. Також у JS залишаємо хоча б мінімальні коментарі
5. Класи section, container, задають мінімальний базовий скелет сторінки
якщо захочеться до них щось додати подумай три рази
6. Щоб глянути яку назву яка іконка має у спрайті залишу скрін у папці img (sprite.jpg) -->

<section class="section" id="my-projects">
  <div class="container">
    <h2 class="hedline-my-projects">
      my&nbsp;<span class="hedline-span-my-project">projects</span>
    </h2>
    <ul class="gallery">
      <!-- Контент галереи будет загружен динамически с помощью JS -->
    </ul>
    <button class="btn-load-more-my-project">
      <span class="load-more-span-my-project">LOAD MORE</span>
    </button>
  </div>
</section>



