<section class="section" id="my-projects">
  <div class="container">
    <h2
      class="hedline-my-projects"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-bottom"
      data-aos-easing="linear"
      data-aos-duration="600"
    >
      my&nbsp;<span class="hedline-span-my-project">projects</span>
    </h2>
    <ul class="gallery">
      <!-- Контент галереи будет загружен динамически с помощью JS -->
    </ul>
    <button
      class="btn-load-more-my-project"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-bottom"
      data-aos-easing="linear"
      data-aos-duration="600"
    >
      <span class="load-more-span-my-project">LOAD MORE</span>
    </button>
  </div>
</section>
