<section class="reviews" id="reviews">
  <div class="container">
    <h2
      class="reviews-title"
      data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="600"
    >
      Reviews
    </h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <!-- Сюди динамічно підставляються відгуки -->
      </ul>
      <div class="reviews-not-found" hidden>Not found</div>
      <div class="reviews-navigation">
        <button type="button" class="reviews-button reviews-button-prev">
          <svg width="24" height="24" class="reviews-arrow reviews-arrow-prev">
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
        <button type="button" class="reviews-button reviews-button-next">
          <svg width="24" height="24" class="reviews-arrow reviews-arrow-next">
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
