<section class="section">
  <div class="container">
    <svg class="icon-info" width="50" height="50">
      <use href="../img/sprite.svg#success-filled"></use>
    </svg>
    <p>success-filled</p>

    <svg class="icon-info" width="50" height="50">
      <use href="../img/sprite.svg#icon-dropdown-hide"></use>
    </svg>
    <p>icon-dropdown-hide</p>

    <svg class="icon-info" width="50" height="50">
      <use href="../img/sprite.svg#icon-dropdown"></use>
    </svg>
    <p>icon-dropdown</p>

    <svg class="icon-info" width="50" height="50">
      <use href="../img/sprite.svg#icon-urgent-execution"></use>
    </svg>
    <p>icon-urgent-execution</p>

    <svg class="icon-info" width="50" height="50">
      <use href="../img/sprite.svg#icon-expertise"></use>
    </svg>
    <p>icon-expertise</p>

    <svg class="icon-info" width="50" height="50">
      <use href="../img/sprite.svg#icon-art"></use>
    </svg>
    <p>icon-art</p>

    <svg class="icon-info" width="50" height="50">
      <use href="../img/sprite.svg#icon-communications"></use>
    </svg>
    <p>icon-communications</p>

    <svg class="icon-info" width="50" height="50">
      <use href="../img/sprite.svg#icon-location"></use>
    </svg>
    <p>icon-location</p>

    <svg class="icon-info" width="50" height="50">
      <use href="../img/sprite.svg#icon-mail"></use>
    </svg>
    <p>icon-mail</p>

    <svg class="icon-info" width="50" height="50">
      <use href="../img/sprite.svg#icon-phone"></use>
    </svg>
    <p>icon-phone</p>

    <svg class="icon-info" width="50" height="50">
      <use href="../img/sprite.svg#icon-visit-arrow"></use>
    </svg>
    <p>icon-visit-arrow</p>
  </div>
</section>
