:root {
  /* Color custom properties */

  --black: #292929;
  --accet-green: #00b068;
  --white: #f0f0f0;
  --light-grey: #e4e5e6;
  --hover-grey: #bbb;
  --light-accent: #bcdfd1;
  --hover: #009156;
  --black-dt: #1e2023;
  --accet-green-dt: #14c57c;
  --white-dt: #f0f0f0;
  --charcoal-dt: #2a2d32;
  --hover-charcoal-dt: #3b3f45;
  --dark-accet-dt: #204136;
  --hover-green-dt: #009156;
  --error: #e74a3b;

  /* Fonts custom properties */

  --font-family: 'Poppins', sans-serif;
  --second-family: 'Impact', sans-serif;
  --third-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  color-scheme: light;
  background-color: light-dark(var(--white), var(--black-dt));
  font-family: var(--font-family);
  margin: 0;

  &.dark {
    color-scheme: dark;
  }
}

.section {
  margin-bottom: 80px;
}

.section:nth-child(3) {
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 360px;
  padding: 0 20px;
}

/* ---Tablet styles--- */
@media screen and (min-width: 768px) {
  .section {
    margin-bottom: 124px;
  }

  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* ---Desktop styles--- */
@media screen and (min-width: 1280px) {
  .section {
    margin-bottom: 164px;
  }

  .container {
    max-width: 1280px;
  }
}
