body {
  &.dark {
    .benefits-title {
      color: var(--white);
    }

    .benefits-item-title {
      color: var(--white);
    }

    .benefits-item-text {
      color: var(--white);
    }
  }
}

.benefits-container {
  padding-top: 10px;
  position: relative;
}

.benefits-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  max-width: 320px;
}

.benefits-title-el {
  color: #00b068;
}

.benefits-img {
  display: none;
}

.benefits-list {
  margin-top: 40px;
}

.benefits-item {
  margin-top: 32px;
  width: 320px;
}

.benefits-item-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin-top: 16px;
}

.benefits-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .benefits-title {
    max-width: 704px;
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }

  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 0px;
  }

  .benefits-item {
    margin-top: 0px;
    width: 336px;
  }

  .benefits-item:first-child {
    width: 100%;
    margin-left: 368px;
  }

  .benefits-item-title {
    font-size: 20px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1280px) {
  .benefits-title {
    display: block;
    position: absolute;
    width: 686px;
  }

  .benefits-list {
    margin-top: 276px;
  }

  .benefits-item {
    width: 384px;
  }

  .benefits-item:first-child {
    margin-left: 832px;
  }

  .benefits-img {
    display: block;
    position: absolute;
    top: -116px;
    right: 0;
  }
}
