body {
  &.dark {
    .section {
      background-color: var(--black-dt);
    }
    .hedline-my-projects {
      color: #f0f0f0;
    }
    .hedline-span-my-project {
      color: #14c57c;
    }
    .text-my-project {
      color: #f0f0f0;
    }
    .names-my-project {
      color: #f0f0f0;
    }
    .visit-my-project {
      color: #f0f0f0;
    }
    .button-my-project {
      background-color: #2a2d32;
    }
    .button-my-project:hover {
      background: #3b3f45;
    }
    .btn-load-more-my-project {
      background: #1e2023;
    }
    .load-more-span-my-project {
      color: #f0f0f0;
    }
    .load-more-span-my-project:hover {
      color: #14c57c;
    }
  }
}

/* Заголовок проекта */
.hedline-my-projects {
  color: #292929;
  font-family: Impact;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  transition: font-size 1s ease, line-height 1s ease;
  margin-bottom: 40px;
  @media screen and (width < 360px) {
    font-size: clamp(36px, 5vh, 52px);
  }
  @media screen and (width >= 1280px) {
    margin-bottom: 80px;
  }
}

.hedline-span-my-project {
  color: #00b068;
}

@media screen and (min-width: 768px) {
  .hedline-my-projects {
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-size: 108px;
    margin-bottom: 60px;
  }
}

/* Галерея - <li> для центрирования */
.gallery {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  @media screen and (width >= 768px) {
    gap: 60px;
  }
  @media screen and (width >= 1280px) {
    gap: 80px;
  }
}

/* Картинка проекта */
.image-my-project {
  border-radius: 16px;
  transition: width 1s ease, height 1s ease;
  margin-bottom: 12px;
  @media screen and (width >= 768px) {
    margin-bottom: 16px;
    border-radius: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .image-my-project {
    min-width: 1008px;
  }
}

.gallery-link {
  display: inline-block;
  line-height: 0;
  padding: 0;
  margin: 0;
}

/* Контейнер текста и кнопки */
.div-my-project {
  transition: width 1s ease, height 1s ease;
  @media screen and (width >= 768px) {
    display: flex;
    justify-content: space-between;
  }
}

/* Текст скиллов */
.text-my-project {
  color: #292929;
  font-family: Poppins;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  @media screen and (width >= 768px) {
    margin-bottom: 20px;
  }
}

/* Названия проектов */
.names-my-project {
  color: #292929;
  font-family: Poppins;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  transition: width 1s ease, height 1s ease;
  @media screen and (width >= 768px) {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
  }
}

/* Кнопка VISIT */
.button-my-project {
  max-width: 125px;
  min-height: 48px;
  border-radius: 8px;
  background: #e4e5e6;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 24px;
  margin-left: 60%;
  margin-top: 16px;
  @media screen and (width >= 768px) {
    margin-top: 0;
    margin-left: 0;
  }
}
.button-my-project:hover {
  background: #bbbbbb;
}

.visit-my-project {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  vertical-align: middle;
  color: #292929;
}

/* Кнопка "Load more" */
.btn-load-more-my-project {
  display: block;
  min-width: 154px;
  min-height: 52px;
  padding: 12px 24px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border: none;
  margin: 0 auto;
  margin-top: 40px;
  @media screen and (width >= 768px) {
    font-size: 20px;
    line-height: 1.6;
    min-width: 165px;
    min-height: 56px;
  }
}

.load-more-span-my-project {
  color: #000000;
  position: relative;
  transition: color 0.3s ease;
  &::after {
    position: absolute;
    content: '';
    bottom: -8px;
    left: 0;
    background-color: #14c57c;
    width: 106px;
    height: 2px;
  }

  @media screen and (width >= 768px) {
    &::after {
      width: 117px;
    }
  }
}

.load-more-span-my-project:hover,
.load-more-span-my-project:focus {
  color: #00b068;
}

.btn-load-more-my-project.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.disabled {
  opacity: 0.5;
}
