.swiper-wrapper {
  /*display: flex !important;*/
  /*align-items: stretch;*/
}
.reviews {
  text-align: center;
}

.reviews-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 40px                     ;
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--light-grey);
  padding: 32px;
  border-radius: 16px;
  text-align: left;
  height: 368px;
}

.review-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 24px;
}

.review-author {
  display: flex;
  align-items: center;
  gap: 16px;
}

.review-author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.review-author-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--black);
}

.reviews-navigation{
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.reviews-button-prev, .reviews-button-next {
  border: 1px solid var(--black);
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.reviews-button-prev:disabled {
  border: 1px solid var(--light-grey);
  color: var(--light-grey);
  background: transparent;
  pointer-events: none;
}

.reviews-button-disabled {
  border: 1px solid var(--light-grey);
  color: var(--light-grey);
  pointer-events: none;
  background-color: transparent;
  outline: none;
}

@media screen and (min-width: 768px) {
  .reviews-title{
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }
  .review-card {
    height: 224px;
  }
}

@media screen and (min-width: 1280px) {
  .review-card {
    height: 248px;
  }
  .reviews-title{
    margin-bottom: 80px;
  }
}
