.reviews {
  padding: 0 20px;
  text-align: center;
}

.reviews-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}

.review-card {
  background: var(--light-grey);
  padding: 32px;
  border-radius: 16px;
  text-align: left;
}

.review-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 24px;
}

.review-author {
  display: flex;
  align-items: center;
  gap: 16px;
}

.review-author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.review-author-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--black);
}

.reviews-button-prev:disabled {
  background: transparent;
}

.reviews-button-disabled {
  opacity: 0.5;
  pointer-events: none;
  background-color: transparent;
  outline: none;
}
