body {
  &.dark {
    .reviews-title {
      color: var(--white);
    }

    .review-card {
      background: var(--charcoal-dt);
    }

    .review-text {
      color: var(--white);
    }

    .review-author-name {
      color: var(--white);
    }

    .reviews-button {
      border: 1px solid var(--white-dt);
      background: transparent;
    }

    .reviews-button:hover {
      border: 1px solid var(--white-dt);
      background: var(--charcoal-dt);
    }

    .reviews-button-prev:disabled {
      border: 1px solid var(--charcoal-dt);
      color: var(--charcoal-dt);
      background-color: transparent;
    }

    .reviews-button-next:disabled {
      background-color: transparent;
    }

    .reviews-button-disabled {
      border: 1px solid var(--charcoal-dt);
      color: var(--charcoal-dt);
    }

    .reviews-arrow {
      stroke: var(--white);
    }

    .reviews-button-disabled .reviews-arrow {
      stroke: var(--charcoal-dt);
    }

    .reviews-button-prev:disabled .reviews-arrow {
      stroke: var(--charcoal-dt);
    }
  }
}

.reviews {
  text-align: center;
}

.reviews-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 40px;
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--light-grey);
  padding: 32px;
  border-radius: 16px;
  text-align: left;
  min-height: 304px;
}

.review-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 24px;
}

.review-author {
  display: flex;
  align-items: center;
  gap: 16px;
}

.review-author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.review-author-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--black);
}

.reviews-navigation {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.reviews-button {
  padding: 0;
  border: 1px solid var(--black);
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reviews-button:hover {
  background: var(--light-grey);
}

.reviews-button:disabled {
  background: transparent;
}

.reviews-button-prev:disabled {
  border: 1px solid var(--light-grey);
  color: var(--light-grey);
  background: transparent;
  pointer-events: none;
}

.reviews-button-disabled {
  border: 1px solid var(--light-grey);
  color: var(--light-grey);
  pointer-events: none;
  background-color: transparent;
  outline: none;
}

.reviews-arrow {
  fill: transparent;
  stroke: var(--black);
  height: 42px;
  width: 42px;
}

.reviews-button-disabled .reviews-arrow {
  stroke: var(--light-grey);
}

.reviews-button-prev:disabled .reviews-arrow {
  background: transparent;
  pointer-events: none;
  stroke: var(--light-grey);
}

.reviews-arrow-prev {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }

  .review-card {
    min-height: 160px;
  }
}

@media screen and (min-width: 1280px) {
  .review-card {
    min-height: 184px;
  }

  .reviews-title {
    margin-bottom: 80px;
  }

  .reviews-button {
    width: 48px;
    height: 48px;
  }
}
