.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.skills-wraper {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 32px 0px;
    height: 104px;
    background: var(--light-accent);
    white-space: nowrap;
}



.skills {
    display: inline-flex;
    gap: 56px;
    white-space: nowrap;
    animation: marquee 2s linear infinite;
}

.skills span {
    position: relative;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--black);
    white-space: nowrap;

}

.skills span:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: var(--accet-green);
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 24px;
    transform: translate(0, -50%)
}



